@charset "utf-8";

.aboutConteiner{
    text-align: center; 
    width: 70%;
    margin-left: 15%; 
    margin-bottom: 10%;
    margin-top: 5%;
}
 h1{
    padding: 15px;
    color: whitesmoke;
}
p{
    color: whitesmoke;
    text-align: center;
    align-items: center;

}
/*trabalhando com media query 360 a 800*/
@media(max-width:360px){
   .aboutConteiner{
    text-align:center; 
    width: 90%;
    margin-left: 5%;
} 
}
/*telas de iphone x,xr*/
@media(max-width:360px){
   .aboutConteiner{
    text-align:center; 
    width: 95%;
    margin-left: 5%;
} 
}