

#projectH1{
    margin: 40px;
    text-align: center;
    margin-top: 5%;

}
.myPorject{
    display: flex;
    margin-bottom: 10%;
    justify-content:center;
    gap: 30px;
    color: whitesmoke;
}
#discriptionConteiner{
    margin-left: 20%;
}
#discriptionConteiner #projectDicription{
    margin: 5px;
    text-align: left;
}
 #workby{
    background-color: rgb(45, 45, 45);
    color: rgb(117, 117, 117);
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;     
}
#viewGit{
    text-decoration: none;
    background: linear-gradient(45deg, #343232,#750E21);     
    border-radius: 5px;
    padding: 8px;
    margin: 15px;  
    font-size: large;
    cursor: pointer; 
}
#viewGit a{
    text-decoration: none;
    color:whitesmoke;
}
#viewProj{
    text-decoration: none;
     background: none;
    border-radius: 5px;
    padding: 8px;
    margin: 15px;
    font-size: large;  
    cursor: pointer;
}
#viewProj a{
    text-decoration: none;
  background: linear-gradient(45deg, #343232,#750E21);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}
#imgConteiner {
   width: 120%;
}
#imgConteiner img{
    border-radius: 5px;
    width: 80%;
}
.textN{
display: none;
}
.mobileBTN{
    display: none;
}
/*trabalhando na resposividade 360 a 800*/
@media (max-width:360px){
    .myPorject {
    display: flex;
    flex-direction: column;
}
#discriptionConteiner{
    margin-left: 2%;
}
.textN{
text-align: left;
display: block;
margin: 5px;
}
#imgConteiner img{
margin-left: 2%;
}
.BgScreenBTN{ 
    display: none;
}
.mobileBTN{
    display:block;
}
.txBgScreen{
    display: none;
}
 #workby{
    margin: 5px;
    padding: 8px;    
}
}
/*tela de iphone x,xr*/
@media (max-width:414px){
    .myPorject {
    display: flex;
    flex-direction: column;
}
#discriptionConteiner{
    margin-left: 2%;
}
.textN{
text-align: left;
display: block;
margin: 5px;
}
#imgConteiner img{
margin-left: 2%;
}
.BgScreenBTN{ 
    display: none;
}
.mobileBTN{
    display:block;
}
.txBgScreen{
    display: none;
}
 #workby{
    margin: 5px;
    padding: 8px;    
}
}
/*telas media grandes*/

@media (max-width:510px){
 .myPorject {
    display: flex;
    flex-direction: column;
}
#discriptionConteiner{
    margin-left: 2%;
}
.textN{
text-align: left;
display: block;
margin: 5px;
}
#imgConteiner img{
margin-left: 2%;
}
.BgScreenBTN{ 
    display: none;
}
.mobileBTN{
    display:block;
}
.txBgScreen{
    display: none;
}
 #workby{
    margin: 5px;
    padding: 8px;    
}
}
/*telas media grandesII*/

@media (max-width:688px){
 .myPorject {
    display: flex;
    flex-direction: column;
}
#discriptionConteiner{
    margin-left: 2%;
}
.textN{
text-align: left;
display: block;
margin: 5px;
}
#imgConteiner img{
margin-left: 2%;
}
.BgScreenBTN{ 
    display: none;
}
.mobileBTN{
    display:block;
}
.txBgScreen{
    display: none;
}
 #workby{
    margin: 5px;
    padding: 8px;    
}
}

/*telas medias grandesIII*/
@media (max-width:873px){
 .myPorject {
    display: flex;
    flex-direction: column;
}
#discriptionConteiner{
    margin-left: 2%;
}
.textN{
text-align: center;
display: block;
margin: 5px;
}
#imgConteiner img{
margin-left: 2%;
}
.BgScreenBTN{ 
    display: none;
}
.mobileBTN{
    display:block;
}
.txBgScreen{
    display: none;
}
 #workby{
    margin: 5px;
    padding: 8px;    
}
}